.tracklist {
  width: 550px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background: #f9f9f9;
  top: 0;
  left: -550px;
  transition: left 0s ease-out;
  transition: opacity 0.3s ease-out;
  border-radius: 10px;
  padding: 30px 30px;
  flex-flow: column;
}

.tracklist-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  color: #333;
}

.tracklist-list {
  display: flex;
  margin-top: 15px;
  overflow: scroll;
  flex: 1;
}

.tracklist-list::-webkit-scrollbar {
  display: none;
}

.tracklist-list > ul {
  width: 100%;
}

.tracklist-item {
  width: 100%;
  list-style: none;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.tracklist-item > span {
  margin-right: 5px;
}

.tracklist-btm {
  padding-top: 15px;
}

.tracklist-btm > div {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.tracklist-btm > div > strong {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
}
