.tracklist {
  width: 550px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background: #f9f9f9;
  top: 0;
  left: -550px;
  transition: left 0s ease-out;
  transition: opacity 0.3s ease-out;
  border-radius: 10px;
  padding: 30px 30px;
  flex-flow: column;
}

.tracklist-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  color: #333;
}

.tracklist-list {
  display: flex;
  margin-top: 15px;
  overflow: scroll;
  flex: 1;
  scroll-behavior: smooth;
}

.tracklist-list::-webkit-scrollbar {
  display: none;
}

.tracklist-list > ul {
  width: 100%;
}

.tracklist-item {
  width: 100%;
  list-style: none;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.tracklist-item > span {
  margin-right: 5px;
}

.tracklist-btm {
  padding-top: 10px;
}

.tracklist-btm > div {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.tracklist-btm > div > strong {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
}

.tracklist-status {
  margin: 15px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.tracklist-status__left {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.tracklist-status__left > div {
  padding-right: 7px;
  position: relative;
  z-index: 10;
  /* margin-right: 5px; */
}

.tracklist-status__left > p.marquee {
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 9s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.tracklist-status__left > p {
  margin-left: 5px;
  
}

.tracklist-status__right {
  font-size: 15px;
  font-weight: 600;
}
