.comment-view {
  width: 550px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background: #f9f9f9;
  top: 0;
  right: -550px;
  transition: left 0s ease-out;
  transition: opacity 0.3s ease-out;
  border-radius: 10px;
  padding: 30px 30px;
}

.comment-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  color: #333;
}

.comment-list {
  margin-top: 25px;
  height: 490px;
  overflow: scroll;
}

.comment-list::-webkit-scrollbar {
  display: none;
}

.comment-item {
  list-style: none;
  margin-top: 15px;
  cursor: pointer;
}

.comment-item > h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.comment-item > span {
  font-size: 17px;
  color: #333;
}

.comment-view__btm {
  left: 30px;
  right: 30px;
  /* height: 100px; */
  position: absolute;
  bottom: 30px;
  cursor: pointer;
}

.comment-view__btm > div {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.comment-view__btm > div > h3 {
  margin-left: 5px;
  font-weight: 600;
}
